.EditBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 3em;
  height: 2.9em;
  border-radius: 15%;
  background-color: white;
  overflow: hidden;
  transition: 0.3s;
  &:hover {
    filter: brightness(60%);
  }
}
