.navbarContainer {
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  background-color: black;
  .logoContainer {
    width: 60%;
    .navLogo {
      width: 160px;
      margin-top: 0.5rem;
      margin-bottom: 0.2rem;
      margin-left: 6%;
    }
  }

  .navText {
    color: white;
    font-weight: 600;
  }

  .icons {
    width: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0.5rem;
    i {
      color: white;
      font-size: 2rem;
      @media screen and (max-width: 450px) {
        font-size: 1.5rem;
      }
    }
    .mailIcon,
    .phoneIcon {
      color: white;
      width: 36px;
      height: 36px;
      cursor: pointer;
      @media screen and (max-width: 450px) {
        width: 26px;
        height: 26px;
      }
    }
    .phoneIcon:active,
    .mailIcon:active {
      transform: scale(1.1);
    }
    @media screen and (max-width: 450px) {
      width: 40%;
    }
    @media screen and (min-width: 500px) {
      width: 30%;
    }
    @media screen and (min-width: 850px) {
      width: 25%;
    }
  }
}

//modal

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: none;
    color: white;
    border: none;
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
  }
}
.contactInputs {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    label {
      margin-bottom: 0.5rem;
      align-self: flex-start;
      margin-left: 1.5rem;
      font-weight: 700;
      color: white;
    }
    .textArea {
      width: 90%;
      margin-bottom: 2rem;
      border-radius: 2px;
      font-family: "Montserrat";
    }
    .sendBtn {
      width: 35%;
      height: 2rem;
      font-size: 0.8rem;
      border: none;
      border-radius: 0;
      background: #f05a5a;
      color: white;
      font-weight: bold;
    }
    input {
      border-radius: 3px;
      margin-bottom: 1rem;
      width: 90%;
      height: 1.5em;
      font-family: "Montserrat";
    }
  }
}

@keyframes modalFade {
  from {
    transform: translate(-50%, -80%);
    opacity: 0;
  }
  to {
    transform: translateY(-10%, -10%);
    opacity: 1;
  }
}
